# Добро пожаловать в самостоятельный проект

Самостоятельный проект — это практическая проверка знаний, приобретённых вами на вводном курсе. Каждый раздел посвящён отдельной стадии анализа данных с экскурсом в основы Python.

Проект выполняется в пять этапов:

•	Постановка задачи

•	Получение данных

•	Предобработка данных

•	Анализ данных

•	Оформление результатов

Для каждой части описаны шаги выполнения c теоретическим приложением. В Jupyter Notebook эти шаги связаны между собой выводами и результатами.

**Исследование: Музыка больших городов**

Яндекс.Музыка — это крупный продукт с огромным запасом данных для исследований. Команды таких сервисов для поддержания интереса к продукту и привлечения новых пользователей часто проводят исследования про пользователей. Чтобы удержать клиентов и привлечь новых, сделать бренд более узнаваемым, команда сервиса проводит исследования аудитории, и публикует интересные результаты. Например, интересно сравнить тексты, сочинённые нейросетью, с произведениями настоящих рэперов.
Есть исследование, которое напоминает наше: о музыкальных предпочтениях в разных городах России.
Итак, вопрос вам: как музыка, которая звучит по дороге на работу в понедельник утром, отличается от той, что играет в среду или в конце рабочей недели? Возьмите данные для Москвы и Петербурга. Сравните, что и в каком режиме слушают их жители.

План исследования

1.	Получение данных. Прочитайте данные, ознакомьтесь с ними.

2.	Предобработка данных. Избавьтесь от дубликатов, проблем с названиями столбцов и пропусками.

3.	Анализ данных. Ответьте на основные вопросы исследования, подготовьте отчётную таблицу или опишите полученный результат.

4.	Подведение итогов. Просмотрите выполненную работу и сформулируйте выводы.

# Этап 1. Получение данных

Изучим данные, предоставленные сервисом для проекта.

Прочитайте файл music_project.csv и сохраните его в переменной df.

Получите  первых 10 строк таблицы, а также общую информацию о данных таблицы df.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Учеба/Lab5/yandex_music.csv')
print(df.head(10))

     userID                        Track            artist   genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile    rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg    rock
2    20EC38            Funiculì funiculà       Mario Lanza     pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice    folk
4  E2DC1FAE                  Soul People        Space Echo   dance
5  842029A1                    Преданная         IMPERVTOR  rusrap
6  4CB90AA5                         True      Roman Messer   dance
7  F03E1C1F             Feeling This Way   Polina Griffith   dance
8  8FA1D3BE     И вновь продолжается бой               NaN  ruspop
9  E772D5C0                    Pessimist               NaN   dance

             City        time        Day
0  Saint-Petersburg  20:28:33  Wednesday
1            Moscow  14:07:09     Friday
2  Saint-Petersburg  20:58:07  Wednesday
3  Saint-Petersburg  08:37:09     Monday
4            Moscow  08:34:34     Monday
5  Saint-Petersburg  13:09:41     Friday
6            Moscow  13:00:07  Wednesday
7            Moscow  20:47:49  Wednesday
8            Moscow  09:17:40     Friday
9  Saint-Petersburg  21:20:49  Wednesday

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Рассмотрим полученную информацию подробнее.
Всего в таблице 7 столбцов, тип данных у каждого столбца - строка.
Подробно разберём, какие в df столбцы и какую информацию они содержат:
•	userID — идентификатор пользователя;
•	Track — название трека;
•	artist — имя исполнителя;
•	genre — название жанра;
•	City — город, в котором происходило прослушивание;
•	time — время, в которое пользователь слушал трек;
•	Day — день недели.
Количество значений в столбцах различается. Это говорит о том, что в данных есть пропущенные значения.

## Выводы:

Каждая строка таблицы содержит информацию о композициях определённого жанра в определённом исполнении, которые пользователи слушали в одном из городов в определённое время и день недели. Две проблемы, которые нужно решать: пропуски и некачественные названия столбцов. Для проверки рабочих гипотез особенно ценны столбцы (*вставьте сюда названия столбцов, наиболее существенных, на ва взгляд*. Данные из столбца *название столбца*  позволят узнать самые популярные жанры.

# Этап 2. Предобработка данных

Исключим пропуски, переименуем столбцы, а также проверим данные на наличие дубликатов.

Получаем перечень названий столбцов. Какая наблюдается проблема — кроме тех, что уже были названы ранее?

In [ ]:
print(df.columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

В названиях столбцов есть пробелы, которые могут затруднять доступ к данным.

Переименуем столбцы для удобства дальнейшей работы. Проверим результат.

In [ ]:
new_names = ['user_id', 'track_name', 'artist_name', 'genre_name','total_play_seconds','time','day']

if len(new_names) == len(df.columns):
    df = df.set_axis(new_names, axis='columns')
else:
    print("Ошибка: количество новых имен не совпадает с количеством столбцов.")

Проверим данные на наличие пропусков вызовом набора методов для суммирования пропущенных значений.

In [ ]:
print(df.isnull().sum())

user_id                  0
track_name            1231
artist_name           7203
genre_name            1198
total_play_seconds       0
time                     0
day                      0
dtype: int64

Пустые значения свидетельствуют, что для некоторых треков доступна не вся информация. Причины могут быть разные: скажем, не назван конкретный исполнитель народной песни. Хуже, если проблемы с записью данных. Каждый отдельный случай необходимо разобрать и выявить причину.

Заменяем пропущенные значения в столбцах с названием трека и исполнителя на строку 'unknown'. После этой операции нужно убедиться, что таблица больше не содержит пропусков.

In [ ]:
df['track_name']=df['track_name'].fillna('unknown')
df['artist_name']=df['artist_name'].fillna('unknown')

In [ ]:
print(df.isnull().sum())

user_id                  0
track_name               0
artist_name              0
genre_name            1198
total_play_seconds       0
time                     0
day                      0
dtype: int64

Удаляем в столбце с жанрами пустые значения; убеждаемся, что их больше не осталось.

In [ ]:
df.dropna(subset=['genre_name'], inplace=True)
print(df.isnull().sum())

user_id               0
track_name            0
artist_name           0
genre_name            0
total_play_seconds    0
time                  0
day                   0
dtype: int64

Необходимо установить наличие дубликатов. Если найдутся, удаляем, и проверяем, все ли удалились.

In [ ]:
print('Количество дубликатов:',df.duplicated().sum())
df.drop_duplicates(inplace = True)
df.reset_index(inplace=True)
print('Количество дубликатов:',df.duplicated().sum())

Количество дубликатов: 3755
Количество дубликатов: 0

Дубликаты могли появиться вследствие сбоя в записи данных. Стоит обратить внимание и разобраться с причинами появления такого «информационного мусора».

Сохраняем список уникальных значений столбца с жанрами в переменной genres_list.

Объявим функцию find_genre() для поиска неявных дубликатов в столбце с жанрами. Например, когда название одного и того же жанра написано разными словами.

In [ ]:
genre_list = df['genre_name'].unique().tolist()
print(genre_list)

['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world', 'electronic', 'alternative', 'children', 'rnb', 'hip', 'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggae', 'tatar', 'blues', 'instrumental', 'rusrock', 'dnb', 'türk', 'post', 'country', 'psychedelic', 'conjazz', 'indie', 'posthardcore', 'local', 'avantgarde', 'punk', 'videogame', 'techno', 'house', 'christmas', 'melodic', 'caucasian', 'reggaeton', 'soundtrack', 'singer', 'ska', 'shanson', 'ambient', 'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal', 'minimal', 'contemporary', 'new', 'soul', 'holiday', 'german', 'tropical', 'fairytail', 'spiritual', 'urban', 'gospel', 'nujazz', 'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore', 'progressive', 'chanson', 'numetal', 'vocal', 'estrada', 'russian', 'classicmetal', 'dubstep', 'club', 'deep', 'southern', 'black', 'folkrock', 'fitness', 'french', 'disco', 'religious', 'hiphop', 'drum', 'extrememetal', 'türkçe', 'experimental', 'easy', 'metalcore', 'modern', 'argentinetango', 'old', 'breaks', 'eurofolk', 'stonerrock', 'industrial', 'funk', 'jpop', 'middle', 'variété', 'other', 'adult', 'christian', 'gothic', 'international', 'muslim', 'relax', 'schlager', 'caribbean', 'ukrrock', 'nu', 'breakbeat', 'comedy', 'chill', 'newage', 'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative', 'dub', 'power', 'death', 'grime', 'arabesk', 'romance', 'flamenco', 'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal', 'hip-hop', 'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook', 'jewish', 'sängerportrait', 'deutschrock', 'eastern', 'action', 'future', 'electropop', 'folklore', 'bollywood', 'marschmusik', 'rnr', 'karaoke', 'indian', 'rancheras', 'электроника', 'afrikaans', 'tango', 'rhythm', 'sound', 'deutschspr', 'trip', 'lovers', 'choral', 'dancepop', 'podcasts', 'retro', 'smooth', 'mexican', 'brazilian', 'ïîï', 'mood', 'surf', 'author', 'gangsta', 'triphop', 'inspirational', 'idm', 'ethnic', 'bluegrass', 'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly', 'colombian', 'self', 'hop', 'synthrock', 'sertanejo', 'japanese', 'canzone', 'swing', 'lounge', 'sport', 'korean', 'ragga', 'traditional', 'gitarre', 'frankreich', 'alternativepunk', 'emo', 'laiko', 'cantopop', 'glitch', 'documentary', 'rockalternative', 'thrash', 'hymn', 'oceania', 'rockother', 'popeurodance', 'dark', 'vi', 'grunge', 'hardstyle', 'samba', 'garage', 'soft', 'art', 'folktronica', 'entehno', 'mediterranean', 'chamber', 'cuban', 'taraftar', 'rockindie', 'gypsy', 'hardtechno', 'shoegazing', 'skarock', 'bossa', 'salsa', 'latino', 'worldbeat', 'malaysian', 'baile', 'ghazal', 'loungeelectronic', 'arabic', 'popelectronic', 'acid', 'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester', 'native', 'independent', 'cantautori', 'handsup', 'poprussian', 'punjabi', 'synthpop', 'rave', 'französisch', 'quebecois', 'speech', 'soulful', 'teen', 'jam', 'ram', 'horror', 'scenic', 'orchestral', 'neue', 'roots', 'slow', 'jungle', 'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish', 'mandopop', 'forró', 'popdance', 'dirty', 'regional']

In [ ]:
# <создание функции find_genre()>
# функция принимает как параметр строку с названием искомого жанра
# в теле объявляется переменная-счётчик, ей присваивается значение 0,
# затем цикл for проходит по списку уникальных значений
# если очередной элемент списка равен параметру функции,
# то значение счётчика увеличивается на 1
# по окончании работы цикла функция возвращает значение счётчика
def find_genre(stroka):
  count = 0
  for i in genre_list:
    if i == stroka:
      count += 1
  return count

Вызов функции find_genre() для поиска различных вариантов названия жанра хип-хоп в таблице.

Правильное название — hiphop. Поищем другие варианты:

•	hip

•	hop

•	hip-hop

In [ ]:
# <вызовом функции find_genre() проверяется наличие варианта 'hip'>
def find_genre(stroka='hip'):
  count = 0
  for i in genre_list:
    if i == stroka:
      count += 1
  return count

find_genre()

1

In [ ]:
# <проверяется наличие варианта 'hop'>
def find_genre(stroka='hop'):
  count = 0
  for i in genre_list:
    if i == stroka:
      count += 1
  return count

find_genre()

1

In [ ]:
# <проверяется наличие варианта 'hip-hop'>
def find_genre(stroka='hip-hop'):
  count = 0
  for i in genre_list:
    if i == stroka:
      count += 1
  return count

find_genre()

1

Объявим функцию find_hip_hop(), которая заменяет неправильное название этого жанра в столбце 'genre_name' на 'hiphop' и проверяет успешность выполнения замены.

Так исправляем все варианты написания, которые выявила проверка.

In [ ]:
# <создание функции find_hip_hop()>
# функция принимает как параметры таблицу df и неверное название
# к столбцу 'genre_name' применяется специальный метод,
# который заменяет второй параметр на строку 'hiphop'
# результат работы равен подсчитанному методом count() числу
#значений столбца,
# которые равны второму параметру
# функция возвращает результат


def find_hip_hop(df, stroka):
    df['genre_name'] = df['genre_name'].replace(stroka, 'hiphop')
    return df['genre_name'].value_counts()['hiphop']

In [ ]:
# <замена одного неверного варианта на hiphop вызовом функции find_hip_hop()>
def find_hip_hop(df, stroka = 'hip'):
    df['genre_name'] = df['genre_name'].replace(stroka, 'hiphop')
    return df['genre_name'].value_counts()['hiphop']
find_hip_hop(df)

3054

Получаем общую информацию о данных. Убеждаемся, что чистка выполнена успешно.

In [ ]:
# <получение общей информации о данных таблицы df>
print(df)

       index   user_id                         track_name       artist_name  \
0          0  FFB692EC                  Kamigata To Boots  The Mass Missile
1          1  55204538        Delayed Because of Accident  Andreas Rönnberg
2          2    20EC38                  Funiculì funiculà       Mario Lanza
3          3  A3DD03C9              Dragons in the Sunset        Fire + Ice
4          4  E2DC1FAE                        Soul People        Space Echo
...      ...       ...                                ...               ...
60121  65074  729CBB09                            My Name            McLean
60122  65075  D08D4A55  Maybe One Day (feat. Black Spade)       Blu & Exile
60123  65076  C5E3A0D5                          Jalopiina           unknown
60124  65077  321D0506                      Freight Train     Chas McDevitt
60125  65078  3A64EF84          Tell Me Sweet Little Lies      Monica Lopez

       genre_name total_play_seconds      time        day
0            rock   Saint-Petersburg  20:28:33  Wednesday
1            rock             Moscow  14:07:09     Friday
2             pop   Saint-Petersburg  20:58:07  Wednesday
3            folk   Saint-Petersburg  08:37:09     Monday
4           dance             Moscow  08:34:34     Monday
...           ...                ...       ...        ...
60121         rnb             Moscow  13:32:28  Wednesday
60122      hiphop   Saint-Petersburg  10:00:00     Monday
60123  industrial             Moscow  20:09:26     Friday
60124        rock             Moscow  21:43:59     Friday
60125     country             Moscow  21:59:46     Friday

[60126 rows x 8 columns]

## Вывод

На этапе предобработки в данных обнаружились не только пропуски и проблемы с названиями столбцов, но и всяческие виды дубликатов. Их удаление позволит провести анализ точнее. Поскольку сведения о жанрах важно сохранить для анализа, не просто удаляем все пропущенные значения, но заполним пропущенные имена исполнителей и названия треков. Имена столбцов теперь корректны и удобны для дальнейшей работы.

# Действительно ли музыку в разных городах слушают по-разному?

Была выдвинута гипотеза, что в Москве и Санкт-Петербурге пользователи слушают музыку по-разному. Проверяем это предположение по данным о трёх днях недели — понедельнике, среде и пятнице.

Для каждого города устанавливаем количество прослушанных в эти дни композиций с известным жанром, и сравниваем результаты.
Группируем данные по городу и вызовом метода count() подсчитываем композиции, для которых известен жанр.

In [ ]:
# <группировка данных таблицы df по столбцу 'city' и подсчёт количества значений столбца 'genre_name'>
df_city = df.groupby('total_play_seconds')['genre_name'].count()
print(df_city)

total_play_seconds
Moscow              41892
Saint-Petersburg    18234
Name: genre_name, dtype: int64

В *(вставьте название города)* прослушиваний больше, чем в *(вставьте название города)*, но это не значит, что *(вставьте название города)* более активна. У Яндекс.Музыки в целом больше пользователей в Москве, поэтому величины сопоставимы.
Сгруппируем данные по дню недели и подсчитаем прослушанные в понедельник, среду и пятницу композиции, для которых известен жанр.

In [ ]:
# <группировка данных по столбцу 'weekday' и подсчёт количества значений столбца 'genre_name'>
df_weekday = df.groupby('day')['genre_name'].count()
print(df_weekday)

day
Friday       21482
Monday       20866
Wednesday    17778
Name: genre_name, dtype: int64

Понедельник и пятница — время для музыки; по средам пользователи немного больше вовлечены в работу.

Создаём функцию number_tracks(), которая принимает как параметры таблицу, день недели и название города, а возвращает количество прослушанных композиций, для которых известен жанр. Проверяем количество прослушанных композиций для каждого города и понедельника, затем среды и пятницы.

In [ ]:
# <создание функции number_tracks()>
# объявляется функция с тремя параметрами: df, day, city
# в переменной track_list сохраняются те строки таблицы df, для которых
# значение в столбце 'weekday' равно параметру day
# и одновременно значение в столбце 'city' равно параметру city
# в переменной track_list_count сохраняется число значений столбца 'genre_name',
# рассчитанное методом count() для таблицы track_list
# функция возвращает значение track_list_count
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count

In [ ]:
# <список композиций для Москвы в понедельник>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_1 = number_tracks(df,'Monday','Moscow')
print(result_1)

15347

In [ ]:
# <список композиций для Санкт-Петербурга в понедельник>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_2 = number_tracks(df,'Monday','Saint-Petersburg')
print(result_2)

5519

In [ ]:
# <список композиций для Москвы в среду>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_3 = number_tracks(df,'Wednesday','Moscow')
print(result_3)

10865

In [ ]:
# <список композиций для Санкт-Петербурга в среду>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_4 = number_tracks(df,'Wednesday','Saint-Petersburg')
print(result_4)

6913

In [ ]:
# <список композиций для Москвы в пятницу>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_5 = number_tracks(df,'Friday','Moscow')
print(result_5)

15680

In [ ]:
# <список композиций для Санкт-Петербурга в пятницу>
def number_tracks(df, day, city):
    track_list = df[(df['day'] == day) & (df['total_play_seconds'] ==city)]
    track_list_count = track_list['genre_name'].count()
    return track_list_count
result_6 = number_tracks(df,'Friday','Saint-Petersburg')
print(result_6)

5802

Сведём полученную информацию в одну таблицу, где ['city', 'monday', 'wednesday', 'friday'] названия столбцов.

In [ ]:
# <таблица с полученными данными>
result = [
    ['Moscow', result_1, result_3, result_5],
    ['Saint-Petersburg', result_2, result_4, result_6]
]

new_table = ['city', 'monday', 'wednesday', 'friday']
table = pd.DataFrame(data=result, columns=new_table)
print(table)

               city  monday  wednesday  friday
0            Moscow   15347      10865   15680
1  Saint-Petersburg    5519       6913    5802

## Вывод

*Запишите здесь ваши выводы.Опишите закономерности, которые вы наблюдаете по дням недели и городам*

# Утро понедельника и вечер пятницы — разная музыка или одна и та же?

Ищем ответ на вопрос, какие жанры преобладают в разных городах в понедельник утром и в пятницу вечером. Есть предположение, что в понедельник утром пользователи слушают больше бодрящей музыки (например, жанра поп), а вечером пятницы — больше танцевальных (например, электронику).
Получим таблицы данных по Москве moscow_general и по Санкт-Петербургу spb_general.

In [ ]:
moscow_general = df[df['total_play_seconds'] == 'Moscow']
spb_general = df[df['total_play_seconds'] == 'Saint-Petersburg']

Создаём функцию genre_weekday(), которая возвращает список жанров по запрошенному дню недели и времени суток с такого-то часа по такой-то.

In [ ]:
# объявление функции genre_weekday() с параметрами df, day, time1, time2
# в переменной genre_list сохраняются те строки df, для которых одновременно:
# 1) значение в столбце 'weekday' равно параметру day,
# 2) значение в столбце 'time' больше time1 и
# 3) меньше time2.
# в переменной genre_list_sorted сохраняются в порядке убывания
# первые 10 значений Series, полученной подсчётом числа значений 'genre_name'
# сгруппированной по столбцу 'genre_name' таблицы genre_list
# функция возвращает значение genre_list_sorted
def genre_weekday(df, day, time1, time2):
    genre_list = df[(df['day'] == day) & (df['time'] >time1) & (df['time'] < time2)]
    genre_list_sorted = genre_list['genre_name'].value_counts(ascending=False).head(10)
    return genre_list_sorted

Cравниваем полученные результаты по таблице для Москвы и Санкт-Петербурга в понедельник утром (с 7 до 11) и в пятницу вечером (с 17 до 23).

In [ ]:
# <вызов функции для вечера пятницы в Москве>
genre_weekday(moscow_general,'Friday','17:00:00','23:00:00')

genre_name
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
Name: count, dtype: int64

In [ ]:
# <вызов функции для вечера пятницы в Питере>
genre_weekday(spb_general,'Friday','17:00:00','23:00:00')

genre_name
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
Name: count, dtype: int64

Популярные жанры в понедельник утром в Питере и Москве оказались похожи: везде, как и предполагалось, популярен *(вставьте сюда название жанра)*. Несмотря на это, концовка топ-10 для двух городов различается: в Питере в топ-10 входит джаз и русский рэп, а в Москве жанр world.

*(Опишите здесь, меняется ли ситуация в музыкальными предпочтениями в конце недели, заметна ли разница в концовке ТОП-10)*

## Вывод
Жанр *(вставьте сюда название жанра)* безусловный лидер, а топ-5 в целом не различается в обеих столицах. При этом видно, что концовка списка более «живая»: для каждого города выделяются более характерные жанры, которые действительно меняют свои позиции в зависимости от дня недели и времени.

# Москва и Питер — две разные столицы, два разных направления в музыке. Правда?

Гипотеза: Питер богат своей рэп-культурой, поэтому это направление там слушают чаще, а Москва — город контрастов, но основная масса пользователей слушает попсу.

Сгруппируем таблицу moscow_general по жанру, сосчитаем численность композиций каждого жанра методом count(), отсортируем в порядке убывания и сохраним результат в таблице moscow_genres.

Просмотрим первые 10 строк этой новой таблицы.

In [ ]:
# одной строкой: группировка таблицы moscow_general по столбцу 'genre_name',
# подсчёт числа значений 'genre_name' в этой группировке методом count(),
# сортировка Series в порядке убывания и сохранение в moscow_genres
moscow_genres = moscow_general.groupby('genre_name').size().reset_index(name='count')

moscow_genres = moscow_genres.sort_values(by='count', ascending=False)

In [ ]:
# <просмотр первых 10 строк moscow_genres>
print(moscow_genres.head(10))

      genre_name  count
177          pop   5892
55         dance   4435
202         rock   3965
74    electronic   3786
113       hiphop   2094
46     classical   1616
265        world   1432
6    alternative   1379
208       ruspop   1372
209       rusrap   1161

Сгруппируем таблицу spb_general по жанру, сосчитаем численность композиций каждого жанра методом count(), отсортируем в порядке убывания и сохраним результат в таблице spb_genres.

Просматриваем первые 10 строк этой таблицы. Теперь можно сравнивать два города.

In [ ]:
# <группировка таблицы spb_general, расчёт, сохранение в spb_genres>
# Группировка таблицы spb_general по столбцу 'genre_name'
spb_genres = spb_general.groupby('genre_name').size().reset_index(name='count')
spb_genres = spb_genres.sort_values(by='count', ascending=False)

In [ ]:
# <просмотр первых 10 строк spb_genres>
print(spb_genres.head(10))

      genre_name  count
140          pop   2431
43         dance   1932
162         rock   1879
58    electronic   1736
93        hiphop    960
3    alternative    649
35     classical    646
167       rusrap    564
166       ruspop    538
207        world    515

## Вывод
В Москве, кроме абсолютно популярного жанра поп, есть направление русской популярной музыки. Значит, что интерес к этому жанру шире. А рэп, вопреки предположению, занимает в обоих городах близкие позиции.

# Результаты исследования

Рабочие гипотезы:

•	музыку в двух городах — Москве и Санкт-Петербурге — слушают в разном режиме;

•	списки десяти самых популярных жанров утром в понедельник и вечером в пятницу имеют характерные отличия;

•	население двух городов предпочитает разные музыкальные жанры.

**Общие результаты**

Москва и Петербург сходятся во вкусах: везде преобладает популярная музыка. При этом зависимости предпочтений от дня недели в каждом отдельном городе нет — люди постоянно слушают то, что им нравится. Но между городами в разрезе дней неделей наблюдается зеркальность относительно среды: Москва больше слушает в понедельник и пятницу, а Петербург наоборот - больше в среду, но меньше в понедельник и пятницу.
В результате первая гипотеза *подтверждена / не подтверждена*, вторая гипотеза *подтверждена / не подтверждена* и третья не подтверждена >.*подтверждена / не подтверждена*